{% extends "base.html" %}
{% block content %}

<div class="jumbotron">
  <h1>You can update some data until it's taken by a Secret Santa.</h1>
  <br>
  <form method="POST">
    
      {{ form.hidden_tag() }}
    <div class="row">
      <div class="col">
        {{ form.child_name.label }} {{ form.child_name(class="form-control") }}
      </div>
      <div class="col">
        {{ form.child_age.label }} {{ form.child_age(class="form-control") }}
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        {{ form.gift_name.label }} {{ form.gift_name(class="form-control") }}
      </div>
      <div class="col">
        {{ form.price.label }} {{ form.price(class="form-control") }}
      </div>
    </div> 
    <br>
    {{ form.gift_link.label }} {{ form.gift_link(class="form-control") }} 
    <br>
    {{ form.shipping_address.label }} {{ form.shipping_address(class="form-control") }} 
    <br>
    <div class="row">
      <div class="col">
        {{ form.phone.label }} {{ form.phone(class="form-control") }}
      </div>
      <div class="col">
        
      </div>
    </div>
    <br>
    {{ form.confirmation() }} {{ form.confirmation.label }} 
    <br>
    {{ form.submit(class="btn btn-primary") }} <button type="button" class="btn btn-danger" data-toggle='modal' data-target="#del_modal">Delete Request</button>
  </form>
</div>

</div>

<div class="modal" tabindex="-1" role="dialog" id="del_modal"> 
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Request?</h5> 
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete the request?</p> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button> 
        <form><input type="submit" value="Delete" class="btn btn-danger" formmethod="post" formaction="{{ url_for('delete_request', request_id=req.id) }}"></form> 
      </div>
    </div>
  </div>
</div>
{% endblock %}

